@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    & .logo img{
        max-width: 40px;
        max-height: 50px;
        & p{
            font-size: 1.2em;
        }
}
& p, h2, h3, h4{
    color: var(--cor2);
}
&p{
    text-align: justify;
}
    }
    :root{
        --cor1: #363636;
        --cor2: #dcdcdc;
        --cor3: #b4b4b4;
        --cor4: #59a3df;
    }

.destaque{
    color: var(--cor4);
}
body{
    width: 100%;
    background-color: var(--cor1);
}

header{
    max-width: 1200px;
    height: 80px;  
}
nav{
    z-index: 1000;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor1);
    box-shadow: 0px 1px 20px 1px #363636bb;
    
}

.links a{
    font-weight: 600;
    text-decoration: none;
    color: var(--cor2);
    padding: 10px 16px;
    position: relative;
}

.links a:hover{
    transition: 0.7s;
    color: var(--cor4);
}

.container1{
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.img img{
    transition: 0.5s;
    display: block;
    margin-top: 130px;
    max-width: 700px;
}
main{
    
    /* background-color: var(--cor1);   */
    /* background-color: #59a3df; */
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px;
    margin-top: 120px;
    height: 2000px;
    margin: auto;
    box-sizing: border-box;
}

.a1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    text-align: justify;
    padding-bottom: 30px;
}
.a2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    text-align: justify;
    padding-bottom: 10px;
}

.a3{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;

}
.code1, .code2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.code1 div{
    margin: -20px;
    width: 90%;
    max-width: 400px;
    & p{
    text-align: center;
    }
}
.code2 div{
    margin: -20px;
    width: 90%;
    max-width: 400px;
    & p{
    text-align: center;
    }
}
.ex1, .ex2{
    width: 90%;
    max-width: 500px;
    
}

.a4{
    padding:10px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: justify;

}
.a4 h2{
    text-align: left;
    align-items: left;
    font-size: 2em;
}
.legibilidade, .estruturacao, .seo, .acessibilidade{
    gap: 85px;
    & .ponto{
        margin-bottom: 15px;
        align-items: center;
        text-align: center;
    }
    
}
article.videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 120px;
}
div.vds{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
}
div.vds a{
    text-decoration: none;
    font-weight: 600;
    column-span: var(--cor2);
    max-width: 20vw;
    
}
div.vds p:hover{
    transition: 1s;
    color: var(--cor4);
    
}

.if1,.if2,.if3{ 
    max-width: 300px;
    width: 30vw;
}

/* button{
    padding: 0px;
    background: none;
    border: none;
    color: var(--cor2);
    font-size: 38px;
    position: absolute;
    right: 20px;
    display: none;
}
button:focus ~ .links{
    display: block;
} */

